.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid {
  display: block;
  margin: 0 auto;
  width: 600px;
  font-size: 0;
  outline: 2px dotted yellow;
}

.grid__block {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 12px;
  outline: 1px solid black;
}

.grid__block--forest {
  background: green;
}

.grid__block--mountains {
  background: grey;
}

.grid__block--water {
  background: blue;
}

.grid__block--moverMarker {
  background: orange;
}

.grid__block--player {
  background: red;
}

.grid__block--enemy {
  background: red;
  outline: 1px solid red;
}
